#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

#lightbox img {
    height: 100%;
}

#close {
    position: absolute;
    left:0px;
}
.gallery{
    max-height: 200px;
    margin: 10px;
}